<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Teams</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_teams.css') }}">

</head>
<body>
    <h1>Manage Teams</h1>
    <ul>
        {% for team in teams %}
            <li>
                {{ team.name }} 
                <a href="{{ url_for('admin_edit_team', team_id=team.team_id) }}">Edit</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('admin_dashboard') }}">Back to Dashboard</a>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>